$largeur: 322px;
$hauteur: 72px;

.rectangles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.rectangle {
  width: 90%;
  height: $hauteur;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px #00000026;
  border-radius: 20px;
  padding-left: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: none;
  font-size: 16px;
  position: relative;
  gap: 10px;

  & i {
    min-width: 20px;
  }
  

   & .pastille {
    width: 20px;
    height: 20px;
    background-color: $main-purple;
    color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: -10px;
   }

 

 }

.infos h2,
.fonctionnement h2 {
    padding-left: 15px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.fonctionnement {
    padding: 30px 0;
}


.images img {
    width: 346px;
    height: 231px;
    display: flex;
    flex-direction: column;
    
}

.images {
    background-color: $main-gray;
}

.restaurants {
    background-color: $main-gray;
    padding: 30px 10px;
}


@media (min-width: 767px) {
    .rectangle {
        max-width: 400px;
    }
}

@media (min-width: 1023px) {
    .rectangles {
        flex-direction: row;
        padding: 0 15px;
    }

    
}


