.infos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.infos h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
